{% extends 'RedwoodWebBundle:Note:base.html.twig' %}

{% block title %}Inbox - {{ parent() }}{% endblock %}

{# {% set menu = 'note' %} #}

{% block appContent %} 
          <div class="header" id="list-browse-title">
            <div id="list-header">
              <div class="main-header">
                <h1>Inbox<i class="icon icon-private" title="This is a private list"></i></h1>
                <ul class="actions">
                  <li><a href="" class="add" title="Add a new clip"><i class="icon icon-add-link"></i></a></li>
                  <li><a href="" class="bulk" title="Bulk edit clips"><i class="icon icon-bulk"></i></a></li>
                  <li class="separator"></li>
                  <li>
                    <div class="dropdown list-dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="" title="List options">
                        <i class="icon icon-tile"></i> <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                        <li><a class="clip-view tiles selected" title="Toggle tile view"><i class="icon icon-tile"></i> Tile View</a></li>
                        <li><a class="clip-view list" title="Toggle list view"><i class="icon icon-list"></i> List View</a></li>
                        <li class="divider"></li>
                        <li><a href="https://kippt.com/mudenglong/inbox/feed/aad4941c0d8a2a4e38e2dd83a40a6996" class="rss private" title="List RSS feed (Private)">RSS Feed</a></li>
                      </ul>
                    </div>
                  </li>
    </ul>
</div>
<div id="list-header-actions"></div>
</div></div>
<div id="list-browse-content"><div class="inbox" id="clips"><div class="bulk-actions"></div>
<ul class="clip-list clearfix list">
  <li class="clip link ui-draggable"><div class="bg"></div>
<a class="clip-open" data-link="push" href="/mudenglong/inbox/clips/17270517">
    <div class="overlay">
        <div class="content">
            <h3>http://www.fsdfldsfs.com</h3>
            <div class="meta">www.fsdfldsfs.com</div>
         </div>
    </div>
</a>
<div class="metadata"> 
    
    
    <div class="tile-actions">
        <a title="Open link" class="external" target="_blank" rel="nofollow" href="http://www.fsdfldsfs.com"><i class="icon icon-external"></i></a>
        <a title="Favorite" class="favorite " href=""><i class="icon icon-favorite"></i></a>
        <a title="Save" class="save" href=""><i class="icon icon-resave"></i></a> 
    
        <div class="action-menu">
            <div class="dropdown">
              <a href="" data-toggle="dropdown" class="dropdown-toggle action"><i class="icon icon-menu"></i></a>
              <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu pull-right">
                <li><a title="Open in Kippt" data-link="push" href="/mudenglong/inbox/clips/17270517" tabindex="-1">Open</a></li>
                <li><a title="Edit clip" data-link="push" href="/mudenglong/inbox/clips/17270517/edit" tabindex="-1">Edit</a></li>
                <li><a title="Move clip" class="move" href="">Move to a list</a></li>
                <!--<li><a tabindex="-1" href="/mudenglong/inbox/clips/17270517/share" data-link="push" title="Share clip">Share</a></li>-->
                <li class="divider"></li>
                <li><a title="Delete clip" class="delete" href="" tabindex="-1">Delete</a></li>
              </ul>
            </div>
        </div>
    </div>
    
    <div class="tile-meta">
        <div class="clips-extra">
            
             
        </div>
        
        
        
        
    </div>
</div>

<div class="bulk"><input type="checkbox"></div>
<div title="Move to a list" class="drag"></div>

</li>
</ul>
<div class="load-more">
    <span></span>
</div>
<div class="no-clips">
    
    
    <div class="empty-favorites no-empty">
        <div class="bg favorites"></div>
        <h3>No favorites.</h3>
        <p>With favorites you can mark things to be read later or <br> keep tabs on important discussions.</p>
    </div>

    
    <div class="empty-inbox no-empty">
        <div class="bg inbox"></div>
        <h3>Inbox zero — take a deep breath</h3>
        <p>Inbox is your primary place to save things. From here you can organize things into lists or use it as a to-read queue.</p>
        <ul class="list">
            <li><a href="https://kippt.com/extras/"><i>🔿</i><span>Email links to your inbox. Set it up.<span></span></span></a></li>
            <li><a href=""><i>🔒</i><span>Your inbox is always kept private</span></a></li>
        </ul>
        
    </div>
    
    <div class="empty-list no-empty">
        <div class="bg"></div>
        <p>The universe is infinite — yet this list is empty.<br> You should do things like:</p>
        <ul class="list">
            <li>
                <a href="" class="add">
                    <i>⊕</i>
                    <span><strong>Add links</strong>Articles, images, videos</span>
                </a>
            </li>
            <li>
                <a href="https://kippt.com/inbox/edit" class="edit" data-link="push">
                    <i>👥</i>
                    <span><strong>Invite friends</strong>Build this list together</span>
                </a>
            </li>
            <li>
                <a href="" class="add">
                    <i>📄</i>
                    <span><strong>Create a note</strong>Supports markdown</span></a>
            </li>
            <li>
                <a href="https://kippt.com/extras/">
                    <i>⚒</i>
                    <span><strong>Apps &amp; Tools</strong>Mobile, email and more</span></a>
            </li>
        </ul>
    </div>

    
    
    </div></div></div>

    {% endblock %}